@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root{
    /*colors */
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);

    /* fonts */
    --font-family:"Bai Jamjuree" ,sans-serif;
    --font-size-larg: 20px;
    --font-size: 18px;
    --font-weight-normal:400 ;
    --font-weight-bold:600 ;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 100vw;
    min-height: 100vh; 
    overflow-x: hidden;
    background-image: url("./images/bg-header-desktop.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    font-family:var(--font-family);
    font-size: var(--font-size-larg);
    font-weight: var(--font-weight-normal);
    color: var(--Grayish-Blue);
    text-align: center;
    display: grid;
    gap: 120px;
}

header{
    margin-top: 90px;
}

main{
    display: grid;
    gap: 60px;
}

header,section{
    display: grid;
    place-items: center;
}

h1,h2,h3{
color: var(--Dark-Grayish-Blue);
font-weight: var(--font-weight-bold);
margin-bottom: 20px;
}

p{
    font-size: var(--font-size);
    width: 45%;
}

.logo{
    margin-bottom: 30px;
}

.btns{
    margin-top: 50px;
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

button{
    height: 50px;
    width: 100%;
    border: none;
    font-size: var(--font-size);
    background-color: var(--Strong-Cyan);
    color: white;
    border-radius: 25px ;
    box-shadow: 5px 10px 5px rgba(0,0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.15s , color 0.15s;
}

.ios{
    background-color: var(--Strong-Cyan);
}

.ios:hover{
    box-shadow: 5px 10px 10px rgba(140, 211, 201, 0.5);
    color:  hsl(171, 56%, 87%);
}

.Mac{
    background-color: var(--Light-Blue);
}

.Mac:hover{
    box-shadow: 5px 10px 10px rgba(79, 109, 190, 0.5);
    color:  hsl(236, 56%, 84%);
}

.clipoard-features{
    width: 100%;
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.computer img{
    width: 100%;
    margin-left: -42px;
}

.features{
    margin-top: 60px;
}

.features p{
    text-align: start;
    margin-bottom: 50px;
    width: 60%;
}

.features h3{
    text-align: start;
}

.devices{
    margin-top: 60px;
    width: 80%;
}

.tools{
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.tools div{
    display: grid;
    place-items: center;
}

.tools p{
    width: 72%;
    font-size: 1rem;
}

.tools img{
    margin-bottom:30px ;
}

.comp{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 0 40px;
    margin: 60px;
}

.comp img{
    width: 50%;
}

footer{
    background-color:  hsl(0, 0%, 98%);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    padding: 40px 0;
}

.footlogo img{
width: 55px;
}

.soclinks img{
    margin-right: 10px;
    cursor: pointer;
}

.soclinks img:hover{
    background-color: var(--Strong-Cyan);
}

.info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px 30px;
}

.info a{
    color: var(--Dark-Grayish-Blue);
    font-size: 1rem;
    font-weight: var(--font-weight-normal);
    text-decoration: none;
    text-align: start;
}

.info a:hover{
    color: var(--Strong-Cyan);
}

@media(max-width:750px) {
    .btns{
        width: 70%;
    }
}

@media(max-width:650px) {
    body{
        background-image: url(./images/bg-header-mobile.png);
    }

    .btns{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    h1,h2,h3{
        width: 90%;
    }

    p{
        width: 80%;
    }

    .clipoard-features{
        grid-template-columns: 1fr;
        gap: 0;
    }
    
    .computer img{
        margin-left: 0;
        width: 90%;
    }
    
    .features{
        margin-top: 60px;
        display: grid;
        justify-items: center;
    }
    
    .features p{
        text-align: center;
        margin-bottom: 50px;
        width: 80%;
    }

    .features h3{
        text-align: center;
    }

    .tools{
        grid-template-columns: 1fr;
        gap: 50px;
    }

    .comp{
        grid-template-columns: 1fr;
        padding: 0;
        gap: 50px;
    }
    
    footer{
        grid-template-columns: 1fr;
        gap:30px;
    }

    .info{
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .info a{
        text-align: center;
    }
}